.main-page {
    height: 100%;
    &__container {
        width: 1200px;
        margin: 0 auto;

        @media (max-width: 1439px) and (min-width: 768px) {
            width: 688px;
        }

        @media (max-width: 767px) {
            width: 100%;
        }
    }
}
