@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Manrope:wght@400;700&display=swap');

* {
    &,
    &::before,
    &::after {
        padding: 0;
        margin: 0;
        border: 0;
        box-sizing: border-box;
    }
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

p {
    margin: 0;
}

a {
    background-color: transparent;
}

html,
body {
    height: 100%;
    line-height: 1;
    font-size: 16px;
    color: #000;
    background-color: #f5f5f5;

    html {
        scroll-behavior: smooth;
    }
}

.App {
    margin: 0 auto;
    max-width: 1200px;
}

//--------------------------------------------------------------------------------------------------

.button {
    &_bold,
    &_light {
        padding: 0.5em;
        border-radius: 21px;
        color: #fff;

        font-family: 'Inter';
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        cursor: pointer;

        &:hover {
            background-image: linear-gradient(rgb(0 0 0/10%) 0 0);
        }

        &:active {
            background-image: linear-gradient(rgb(0 0 0/50%) 0 0);
        }
    }

    &_bold {
        background-color: #ee26c2;
    }

    &_light {
        background-color: #fff;
    }
}

// .button:hover {
//   box-shadow: 0px 0px 2px 2px rgb(223, 147, 175);
// }

.typogr {
    &_title,
    &_sub,
    &_descr,
    &_addit,
    &_contacts {
        font-family: 'Inter';
        font-style: normal;
    }

    &_title,
    &_sub,
    &_descr {
        color: #000;
    }

    &_title {
        font-size: 24px;
        font-weight: 600;
    }

    &_sub {
        font-size: 15px;
        font-weight: 600;
    }

    &_descr {
        text-align: center;
        font-size: 16px;
        font-weight: 500;
    }

    &_addit,
    &_contacts {
        color: #525252;
        font-size: 15px;
    }

    &_addit {
        font-weight: 400;
        line-height: 135%;
    }

    &_contacts {
        font-weight: 500;
        line-height: 145%;
    }
}
