$backPersCab:#F4F1EB;
$backHeaderAndFooter:#FFFDFB;
$light:#F9F7F3;
$font: #000000;
$backButton: #DDD8D1;
$backPromotionAndRating:#D3C8B9;
$darkGray: #EFECE7;
$backlLeftNavBar:#FFFDFB;
$btnAddPosts:#645643;
$btn2:#FBF8F4;
$btnColorHover: #000000;